*{
    margin: 0;
    padding: 0;
}
header{
    margin: auto;
}
nav{
    background-color: grey;
    height: fit-content;
    width: 100%;
}
form{
    display: block;
    margin-top: 1%;
    position: absolute;
    left: 37%;
    width: 25%;
    height: 30%;
}
input{
    margin-top: 1%;
    margin-bottom: 1%;
}
header{
    width: fit-content;
    background-color: lightgoldenrodyellow;
    font-size: 2em;
    font-weight: bold;
}
.enmarcado{
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    height: 10%;
}
.alineado{
    text-align: right;
}
#art_mostrar{
    padding: 20px;
    height: fit-content;
    width: fit-content;
    background-color: lightblue;
    display: none;
    margin: auto;
}

#art_mostrar h1{
    margin: auto;
    font-size: 2em;
}

#art_mostrar button{
    margin: auto;
    font-size: 1em;
    border: none;
    background-color: lightgray;
    margin-top: 15%;
}

nav button{
    border: none;
    background-color: grey;
    height: 35px;
    width: 100px;
}

.rojo{
    padding: 2px;
    background-color: red;
}